body {
    margin: 0px;
}

.Foto img {
display: inline; 
float : left; 
margin-left :10px; 
margin-top:20px;
width : 200px;
}

.Profile {
    display: inline; 
    float:left; 
    margin-left:20px; 
    font-size : 17px;
}

.Menu table {
    display: inline; 
    float:right; 
    margin-right:50px; 
    font-size: 17px; 
    text-align:right;
}

b {
font-size: larger;
}

.Konten section p {
    float: left; 
    margin-left:50px; 
    font-size: 17px;
}

.Down {
    float: left; 
    margin-left:50px;
}

.CNVS {
    border: 1px solid black; 
    margin-left: 50px;
}

.Bingkai {
    float: right; 
    margin-right:40px;
}